# Ignore scripts copied from repo from other people
fcs.py
run_fcsadaptor.sh

# Repeat masking 
splitMfasta.pl
parseTrfOutput.py

#protein preprocessing
simplifyFastaHeaders.pl

#Braker3 gtf to gff
gtf2gff.pl
genome_anno.py

# Get aa seq from Tsebra
Fix_Augustus_gtf.pl

#Script from Stingtie
prepDE.py